name: Publish to Qiita

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish_qiita:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install qiita-cli
        run: npm install -g @qiita/qiita-cli

      - name: Publish (or Save as Draft) to Qiita
        run: qiita publish
        env:
          QIITA_TOKEN: ${{ secrets.QIITA_TOKEN }}
